* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

.main-container {
    text-align: center;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.row {
    display: flex;
    width: 70%;
    border-bottom: 1px solid #24b1d9;
    margin-bottom: 20px;
}

.row > div {
    padding: 15px;
}

.image-container {
    margin-right: 15px;
    width: 120px;
}

.details-container {
    text-align: left;
}

h1 {
    color: #24b1d9;
    flex: 0 0 100%;
}

h3 {
    margin-top: 0;
}

img {
    max-width: 120px;
}

p {
    margin: 5px 0;
    font-size: 14px;
    word-break: break-all;
}

.details-container p:first-of-type {
    margin: 0;
}

@media (max-width: 500px) {
    .row {
        width: 90%;
    }
}